﻿@{
    ViewBag.Title = "Analytics Dashboard";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<div id="dashboard" class="k-content">
    <div>
        <div id="navcontainer">
            <ul id="menu">
                <li data-bind="css: { menuItemSelected: serverInfo() == 'signalR'  }"><a href="~/dashboard/analyticsview/default/signalR">SignalR</a></li>
                <li data-bind="css: { menuItemSelected: serverInfo() == 'nodejs' }"><a href="~/dashboard/analyticsview/default/nodejs">Node.js</a></li>
                <li data-bind="css: { menuItemSelected: serverInfo() == 'iisnode' }"><a href="~/dashboard/analyticsview/default/iisnode">iisnode</a></li>
                <li class="analyticLink"><a href="~/dashboard/index/default"> << Dashboard >> </a></li>
            </ul>
        </div>
        <br />

        <div class="k-block" id="summaryPanel">
            <div class="k-header k-inset">Summary</div>
            <div id="summary">
                <p><span class="lbl">Active Users:</span><span data-bind="text: summary.activeUsers" class="summary"></span></p>
                <p><span class="lbl">Inactive Users:</span><span data-bind="text: summary.inactiveUsers" class="summary"></span></p>
                <p><span class="lbl">First Connection at:</span><span data-bind="text: summary.firstUserConnectedAt" class="summary"></span></p>
                <p><span class="lbl">Last Connection at:</span><span data-bind="text: summary.lastUserConnectedAt" class="summary"></span></p>
                <p><span class="lbl">Last Activity at:</span><span data-bind="text: summary.lastUserActivityAt" class="summary"></span></p>
                <p><span class="lbl">Clicks Count:</span><span data-bind="text: clicksCount" class="summary"></span></p>
                <p></p>
            </div>
        </div>

        <div class="k-block" id="usersPanel">
            <div class="k-header k-inset">Users</div>
            <div id="usersCharts">
                <svg xmlns:svg="http://www.w3.org/2000/svg"
                     xmlns="http://www.w3.org/2000/svg"
                     version="1.1"
                     width="100%"
                     height="99%"
                     preserveAspectRatio="xMinYMin meet"
                     viewBox="0 0 360 360">
                    <defs>
                        <path d="m 21.352987,6.7242682 c -0.37685,0.0404 -0.782387,0.189225 -1.125,0.46875 -0.01155,0.0094 -0.01978,0.02151 -0.03125,0.03125 -1.382531,1.073547 -2.800864,2.286303 -3.6875,3.9374998 l -0.03125,0.03125 c -0.427711,0.914999 -0.123667,1.842871 0.34375,2.53125 0.467417,0.688379 1.122012,1.251708 1.5,1.71875 l 0.03125,0.03125 0.03125,0.03125 c 0.888207,0.741486 1.924954,2.10083 3.5625,2.09375 l 0.09375,0 0.09375,-0.03125 c 1.257152,-0.510874 2.28006,-1.416316 3.15625,-2.34375 l 0.03125,-0.03125 c 0.34848,-0.42847 0.850133,-0.911038 1.25,-1.5 0.399867,-0.588962 0.688301,-1.328114 0.5,-2.15625 l 0,-0.0625 -0.03125,-0.0625 c -0.711701,-1.31321 -1.700743,-2.4872198 -2.84375,-3.4374998 l -0.03125,0 c -0.462471,-0.368377 -1.037987,-0.830686 -1.71875,-1.09375 -0.340381,-0.131532 -0.704195,-0.198014 -1.09375,-0.15625 z m 0.75,1.09375 c 0.464658,0.179556 0.982142,0.575316 1.4375,0.9375 1.027309,0.854091 1.88846,1.9014118 2.53125,3.0624998 0.08185,0.460134 -0.03898,0.863606 -0.34375,1.3125 -0.316026,0.465472 -0.787454,0.917299 -1.1875,1.40625 -0.798094,0.84477 -1.670497,1.593261 -2.6875,2.03125 -0.986918,-0.05259 -1.832367,-0.94574 -2.78125,-1.75 -0.0092,-0.01135 -0.02195,-0.01991 -0.03125,-0.03125 -0.01176,-0.0099 -0.01945,-0.0214 -0.03125,-0.03125 -0.445066,-0.536658 -0.984889,-1.065245 -1.34375,-1.59375 -0.374026,-0.55084 -0.535356,-0.987643 -0.28125,-1.53125 0.777387,-1.447741 2.105129,-2.5992458 3.46875,-3.6562498 0.431336,-0.366426 0.77821,-0.338562 1.25,-0.15625 z m 0.6875,10.7187498 c -1.513294,-0.05333 -3.056053,0.140799 -4.5,0.53125 -0.0099,0.0027 -0.02137,-0.0027 -0.03125,0 -1.772326,0.417355 -3.427627,1.421724 -4.46875,3 -0.0084,0.01269 -0.02296,0.01848 -0.03125,0.03125 -1.324838,1.987691 -2.339176,4.258508 -2.71875,6.65625 -0.0036,0.02272 -0.02777,0.03975 -0.03125,0.0625 l 0.03125,0 c -0.181239,0.651513 -0.144679,1.4048 0.1875,2.03125 0.171158,0.322784 0.462203,0.652558 0.875,0.75 0.412797,0.09744 0.84544,-0.06176 1.25,-0.375 l 0.03125,0 0,-0.03125 c 0.6555,-0.586125 0.793063,-1.382313 0.875,-2.0625 0.08194,-0.680187 0.130796,-1.267732 0.40625,-1.6875 0.362677,-0.502741 0.616301,-1.181748 0.90625,-1.65625 0.148238,-0.242591 0.29563,-0.430991 0.40625,-0.5 0.01106,-0.0069 0.02141,0.0058 0.03125,0 0.216278,1.701643 0.08809,3.467908 0.25,5.3125 -0.0014,0.0235 0.03218,0.03897 0.03125,0.0625 -0.03001,0.754907 0.12363,1.506534 0.5625,2.125 0.439968,0.620014 1.148554,1.069977 2,1.125 l 0,0.03125 c 0.02129,0.0013 0.04101,-7.76e-4 0.0625,0 1.037435,0.184453 2.108424,0.236697 3.15625,0.1875 l 0.03125,0 0.03125,0 c 1.294822,-0.229206 2.782522,-0.153985 4.21875,-0.75 l 0.21875,-0.09375 0.0625,-0.1875 c 0.622762,-1.810744 0.567083,-3.712086 0.59375,-5.46875 l -0.03125,0 c 0.128579,-0.615978 0.03983,-1.25806 0.03125,-1.75 -0.0047,-0.267925 0.01459,-0.487455 0.0625,-0.59375 0.959261,1.068389 1.681607,2.379104 1.875,3.78125 l 0.03125,0 c -0.165831,0.741755 0.09315,1.506362 0.59375,2 0.282005,0.278084 0.649456,0.491525 1.09375,0.46875 0.444294,-0.02278 0.883895,-0.339752 1.125,-0.8125 l 0,-0.03125 0.03125,-0.0625 c 0.461933,-1.762565 -0.03977,-3.547468 -0.5625,-5.09375 -0.815677,-2.200151 -1.855404,-4.72203 -4.1875,-6 l -0.03125,-0.03125 -0.03125,0 c -1.415424,-0.613968 -2.91384,-0.915052 -4.4375,-0.96875 z m -0.0625,1 c 1.402888,0.04922 2.783235,0.32477 4.0625,0.875 0.0094,0.004 0.02185,-0.0041 0.03125,0 1.935063,1.071849 2.919219,3.31215 3.71875,5.46875 0.499646,1.478003 0.879913,3.022371 0.53125,4.4375 -0.106235,0.180626 -0.174063,0.216459 -0.21875,0.21875 -0.05107,0.0026 -0.192013,-0.03787 -0.34375,-0.1875 -0.303474,-0.299255 -0.479634,-0.90349 -0.375,-1.15625 l 0.03125,-0.125 0,-0.15625 c -0.244873,-1.775388 -1.147007,-3.378804 -2.375,-4.625 l -0.21875,-0.1875 -0.25,0.0625 c -0.427097,0.09993 -0.784886,0.380191 -0.9375,0.71875 -0.152614,0.338559 -0.162036,0.699453 -0.15625,1.03125 0.01157,0.663595 0.105428,1.340872 0.03125,1.59375 l -0.03125,0.0625 0,0.0625 c -0.02577,1.697763 -0.03487,3.35097 -0.5,4.875 -1.104282,0.38879 -2.385583,0.428475 -3.71875,0.65625 l 0,-0.03125 c -0.997017,0.04681 -1.991062,-0.0089 -2.96875,-0.1875 l -0.03125,0 -0.03125,0 c -0.55602,-0.02009 -0.973777,-0.285452 -1.28125,-0.71875 -0.307473,-0.433298 -0.47031,-1.048569 -0.4375,-1.59375 l 0,-0.03125 0,-0.03125 c -0.1712,-1.859501 0.04653,-3.834205 -0.28125,-5.84375 l -0.0625,-0.28125 -0.25,-0.09375 c -0.424493,-0.168444 -0.888277,-0.112411 -1.21875,0.09375 -0.330473,0.206161 -0.561909,0.504688 -0.75,0.8125 -0.376183,0.615624 -0.644004,1.356829 -0.84375,1.625 l -0.03125,0 c -0.460902,0.702374 -0.485212,1.483406 -0.5625,2.125 -0.07729,0.641594 -0.162489,1.107767 -0.53125,1.4375 -0.258249,0.199957 -0.358428,0.198789 -0.40625,0.1875 -0.04782,-0.01129 -0.13261,-0.08755 -0.21875,-0.25 -0.17228,-0.324901 -0.228501,-1.003598 -0.125,-1.34375 l 0.03125,-0.03125 0,-0.03125 c 0.345212,-2.253985 1.283507,-4.43035 2.5625,-6.34375 l 0.03125,0 c 0.877029,-1.350831 2.315521,-2.224702 3.90625,-2.59375 l 0.03125,0 c 1.362068,-0.371103 2.774295,-0.549581 4.1875,-0.5 z"
                              id="genericUser" />
                    </defs>

                    <rect height="20" y="10" data-bind="attr: { width: activeUsersPercent, x: activeUsersX }"
                          class="usersActiveSvg" />
                    <rect height="20" x="150" y="10" data-bind="attr: { width: inactiveUsersPercent }"
                          class="usersInactiveSvg" />

                    <text data-bind="text: summary.activeUsers" x="1" y="60" class="svgUsersCount"></text>
                    <text data-bind="text: summary.inactiveUsers" x="150" y="60" class="svgUsersCount"></text>

                    <g transform="translate(0,70)">
                        <g transform="translate(0,0)">
                            <g data-bind="svgTransform: activeUsersPercent">
                                <use xlink:href="#genericUser" class="statusActiveSvg"></use>
                            </g>
                        </g>
                        <g transform="translate(160,0)">
                            <g data-bind="svgTransform: inactiveUsersPercent">
                                <use xlink:href="#genericUser" class="statusInactiveSvg"></use>
                            </g>
                        </g>
                    </g>
                </svg>

            </div>
        </div>

    </div>

    <br class="clear" />
    <br />

    <div class="k-block" id="mapContainerPanel">
        <div class="k-header k-inset">Map</div>
        <div id="mapContainer"></div>
    </div>

    <br class="clear" />

    <div class="k-block" id="performanceGraphsPanel">
        <div class="k-header k-inset">Performance</div>
        <div id="performanceGraph1"></div>
    </div>

    <br class="clear" />
    <br />

    <div class="k-block" id="performanceHistogramsPanel1">
        <div class="k-header k-inset">Performance Histogram Srv 1</div>
        <div id="histogram1"></div>
    </div>

    <div class="k-block" id="performanceHistogramsPanel2">
        <div class="k-header k-inset">Performance Histogram Srv 2</div>
        <div id="histogram2"></div>
    </div>

    <div class="k-block" id="performanceHistogramsPanel3">
        <div class="k-header k-inset">Performance Histogram Srv 3</div>
        <div id="histogram3"></div>
    </div>

    <div class="k-block" id="performanceHistogramsPanel4">
        <div class="k-header k-inset">Performance Histogram Srv 4</div>
        <div id="histogram4"></div>
    </div>

    <div class="k-block" id="performanceHistogramsPanel5">
        <div class="k-header k-inset">Performance Histogram Srv 5</div>
        <div id="histogram5"></div>
    </div>

    <br class="clear" />
    <br />
    
    <div class="k-block" id="paramsPanel">
        <div class="k-header k-inset">Parameters Usage</div>
        <div id="bubblesDiv">
            <canvas id="bubblesCanvas" height="440" width="1400"></canvas>
    </div>
    </div>
</div>

@*<script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>*@
@*<script src="~/Scripts/datamaps.usa.min.js"></script>*@
<script src="~/Scripts/d3.v3.js"></script>
<script src="~/Scripts/topojson.v1.js"></script>
<script src="~/Scripts/datamaps.usa.js"></script>
<script src="~/Scripts/require.js"></script>
<script src="~/Scripts/bubblechart.js"></script>

<script>
    $(document).ready(function () {
        $("#menu").kendoMenu();
    });

    requirejs.config({
        baseUrl: "/Scripts",
        paths: {
            signalR: 'jquery.signalR-2.0.0',
            socketio: 'socket.io/socket.io',
            configuration: 'configuration',
            moment: 'moment',
            rx: 'rx',
            rxBinding: 'rx.binding',
            performanceGraph: 'performanceGraph',
            svgTransform: 'svgTransform',
            histogram: 'Histogram',
            bubblesSvg: 'BubblesSvg'
        },
        shim: {
        }
    });

    require(['configuration', 'analyticsApp', 'svgTransform'], function (config, analyticsApp, svgTransform) {
        console.log("jQuery version: ", $.fn.jquery);
        console.log("Knockout version: ", ko.version);

        config.server = '@ViewBag.id';

        //var map = {};
        var map = new Datamap({
            element: document.getElementById('mapContainer'),
            scope: 'usa',
            geographyConfig: {
                popupOnHover: false,
                highlightOnHover: false
            },
            fills: {
                'service1': '#1f77b4',
                'service2': '#9467bd',
                'service3': '#ff7f0e',
                'service4': '#2ca02c',
                'service5': '#e377c2',
                //defaultFill: '#EDDC4E' //#abdda4
                defaultFill: '#abdda4'
            },
            data: {
                'service1': { fillKey: 'service1' },
                'service2': { fillKey: 'service2' },
                'service3': { fillKey: 'service3' },
                'service4': { fillKey: 'service4' },
                'service5': { fillKey: 'service5' }
            }
        });

        analyticsApp.init(config.server, map);

        ko.applyBindings(analyticsApp, $('#dashboard')[0]);
    });

</script>

