﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<script id="messagesTmplate" type="text/html">
    <div>
        <p><span data-bind="text: type" class="messageType"></span> - <span data-bind="text: id, css: isLitCss, event: { mouseover: $parent.actOnMessageMouseOver, mouseout: $parent.actOnMessageMouseOut }"></span> - <span data-bind="text: message"></span></p>
    </div>
</script>

<script id="usersTmplate" type="text/html">
    <p><span data-bind="css: userStatusCss">
       </span> <span data-bind="text: connectionId, css: isLitCss,  event: { mouseover: $parent.actOnUserMouseOver, mouseout: $parent.actOnUserMouseOut }">
               </span> - <span data-bind="text: connectedAt" class="fromTo">
                         </span> - <span data-bind="text: disconnectedAt" class="fromTo"></span>
    <input type="text" size="20" data-bind="value: messageToUser, visible: canPush" /><button data-bind="click: $parent.pushToUser, visible: canPush">Send</button>
    </p>
    <br class="clear" />
</script>

<div id="dashboard" class="k-content">
    <div>
        <div id="navcontainer">
            <ul id="menu">
                <li data-bind="css: { menuItemSelected: serverInfo() == 'signalR'  }"><a href="~/dashboard/index/default/signalR">SignalR</a></li>
                <li data-bind="css: { menuItemSelected: serverInfo() == 'nodejs' }"><a href="~/dashboard/index/default/nodejs">Node.js</a></li>
                <li data-bind="css: { menuItemSelected: serverInfo() == 'iisnode' }"><a href="~/dashboard/index/default/iisnode">iisnode</a></li>
                <li class="analyticLink"><a href="~/dashboard/analyticsview/default"> << Analytics View >> </a></li>
            </ul>
        </div>
        <br />

        <div class="k-block" id="summaryPanel">
            <div class="k-header k-inset">Summary</div>
            <div id="summary">
            <p><span class="lbl">Active Users:</span><span data-bind="text: summary.activeUsers" class="summary"></span></p>
            <p><span class="lbl">Inactive Users:</span><span data-bind="text: summary.inactiveUsers" class="summary"></span></p>
            <p><span class="lbl">First Connection at:</span><span data-bind="text: summary.firstUserConnectedAt" class="summary"></span></p>
            <p><span class="lbl">Last Connection at:</span><span data-bind="text: summary.lastUserConnectedAt" class="summary"></span></p>
            <p><span class="lbl">Last Activity at:</span><span data-bind="text: summary.lastUserActivityAt" class="summary"></span></p>
            <p><span class="lbl">Longest Activity:</span><span data-bind="text: summary.longestActivity" class="summary"></span> min</p>
            <p><span class="lbl">Shortest Activity:</span><span data-bind="text: summary.shortestActivity" class="summary"></span> min</p>
            <p><span class="lbl">Average Activity:</span><span data-bind="text: summary.averageActivity" class="summary"></span> min</p>
            <p><span class="lbl">Median Activity:</span><span data-bind="text: summary.medianActivity" class="summary"></span> min</p>
             <p></p>
            </div>
        </div>

        <div class="k-block" id="usersPanel">
            <div class="k-header k-inset">Users</div>
            <div id="users" data-bind="kendoListView: { data: users, template: 'usersTmplate', useKOTemplates: true }">
            </div>
        </div>

    </div>
    
    <br class="clear" />
    <br/>

    <div class="k-block" id="messagesPanel">
        <div class="k-header k-inset">Messages</div>
        <div id="messages" data-bind="kendoListView: { data: dataItems, template: 'messagesTmplate', useKOTemplates: true }">
        </div>
    </div>
</div>

<script src="~/Scripts/require.js"></script>

<script>
    
    $(document).ready(function () {
    $("#menu").kendoMenu();
    });
    
    requirejs.config({
        baseUrl: "/Scripts",
        paths: {
            //jquery: 'jquery-2.0.3',
            //knockout: 'knockout-2.3.0',
            signalR: 'jquery.signalR-2.0.0',
            socketio: 'socket.io/socket.io',
            //kendo: 'kendo/2013.2.716/kendo.web.min',
            configuration: 'configuration',
            moment: 'moment'
        },
        shim: {
        }
    });

    require(['configuration', /*'jquery', 'knockout', 'kendo',*/ 'app'], function (config, /*jq, ko, k,*/ app) {
        console.log("jQuery version: ", $.fn.jquery);
        console.log("Knockout version: ", ko.version);
        //console.log("Kendo version: ", kendo.version);

        config.server = '@ViewBag.id';
        
        app.init(config.server);
        
        ko.applyBindings(app, $('#dashboard')[0]);

    });
</script>

