﻿@model RealTimeSignalRServer2.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Tile = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>

        @using( Html.BeginForm())
        {        
            @Html.ValidationSummary(true)        
            @Html.EditorForModel()        
                <p>
                    <input type="submit" value="Log in" />
               </p>
        }
</div>
</body>
</html>
