﻿/*

 #navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
     width: 400px;
}

#navcontainer ul li { display: inline; margin-right: 50px;}

#messagesPanel {
    background-color: silver;
}

.serverInfo { color: green; margin-right: 100px; font-weight: bold; }*/

body {
    font-family: 'Droid Sans', DroidSansWeb, 'Segoe UI', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.clear {clear: both;}

#menu .menuItemSelected {
    font-weight: bold;
    text-decoration: underline;
}

#menu .analyticLink {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
}

#summaryPanel {
    width: 49.5%;
    float: left;
    margin-right: 0.5%;
}

#summary {
    min-height: 369px;
    max-height: 369px;
}

#messagesPanel {
    width: 99%;
    float: left;
    margin-right: 0.5%;
}

#messages {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

#usersPanel {
    width: 49.5%;
    float: left;
}

#users {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    /*border: none;*/
}

#usersCharts {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    /*border: none;*/
}

#mapContainer {
    width: 98%;
    max-width: 1400px;
    height: 720px;
    position: relative;
}

#performanceGraphsPanel {
    width: 99%; 
    height: 270px;
    float: left;
    /*padding-top: 10px;*/
}

#performanceHistogramsPanel1  {
    width: 330px;
    height: 270px;
    float: left;
    margin-right: 10px;
    /*padding-top: 10px;*/
}

#performanceHistogramsPanel2  {
    width: 330px; 
     height: 270px;
       float: left;
       margin-right: 10px;
}

#performanceHistogramsPanel3  {
    width: 330px; 
     height: 270px;
     float: left;
     margin-right: 10px;
}

#performanceHistogramsPanel4  {
    width: 330px; 
     height: 270px;
     float: left;
     margin-right: 10px;
}

#performanceHistogramsPanel5  {
    width: 330px; 
     height: 270px;
     float: left;
}

#paramsPanel {
    width: 99%; 
    height: 480px;
}

.perfHistogram {
    float: left;
}

.userStatus
{
    height: 32px;
    width: 32px;
    background-image: url(../images/light/userStatus.png);
    display: inline-block;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;

     float:left;
     /*padding:5px;*/
     /*border:1px solid gray;*/
     margin: 5px 5px 5px 5px;
}

.statusActive {
    background-color: greenyellow;
}

.statusInactive {
    background-color: gray;
}

.lbl {
    display: inline-block;
}

.summary {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
}

.fromTo {
    font-weight: bold;
}

.messageType {
    color: #191970;
    font-weight: bold;
}

.isLit {
    background-color: yellow;
}

.isNotLit {
    background-color: white;
}

.statusActiveSvg {
    stroke: green;
}

.statusInactiveSvg {
    stroke: gray;
}

.svgUsersCount {
    fill: black;
    font-size: 1.6em;
    font-weight: bold;
}

.usersActiveSvg {
    fill: rgb(0,128,0);
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

.usersInactiveSvg {
    fill:rgb(190,190,190);
    stroke-width:1;
    stroke:rgb(0,0,0)
}

/*d3 moving chart*/

.chart {
  margin-left: 42px;
  margin-top: 5px;
}

.chart rect {
  /*fill: steelblue;*/
  stroke: white;
    color: white;
}


/*d3 histogram*/
.row {
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  /*stroke: #f0f0f0;*/
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  /*fill: #f0f0f0;*/
  fill: black;
}

.brush .extent {
  /*stroke: #f0f0f0;*/
  stroke: black;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bar {
  fill: #5EB4E3;
}
.selected {
  fill: #78C656;
}



